@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
	background-color: rgba(2,11,23,1);
}

#global {
    width: 1500px;
	height: 1500px;
    margin: 0px auto;

	background: radial-gradient(circle, rgba(59,153,109,1) 0%, rgba(2,11,23,1) 70%);
}

header{
	background-color: blue;
}
header h1 {
	width: 500px;
	top: 0;
	position: relative;
	color: white;
	animation: textslide 7s linear 0s infinite ;
}

@keyframes textslide {
	0% {left:-500px;}
	100% {left:1200px;}
}

#menu {
	width:auto;
	height:50px;
    margin: 0px 0;
    position: sticky;
    top:0px;
}

#menu ul {
    border-radius: 5px;
    border: 2px solid black;
    height: 50px;
    background-color:rgb(64, 148, 75);
    padding :0px 75px;
    margin: 0;
}

#menu li {
	list-style-type:none;
	list-style-position:inside;
}

#menu a {
	float:left;
	display:block;
	text-decoration: none;
	text-align:center;
	width:160px;
	height:50px;
	line-height:50px;
	background-color:rgb(64, 148, 75);
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size:1em;
}

#menu a:hover {
	background-color: turquoise;
	color:blue;
	font-style: italic;
	text-transform: uppercase;
}

.intro {
	display: grid;
}
.intro h1 {
	font-family: 'Zen Antique Soft', serif;
}

h1 {
	color: blanchedalmond;
}


p{
	color: blanchedalmond;

}